<footer>
  <nav class="round"
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://new.railstutorial.org/">News</li>
      <li><a href="http://new.railstutorial.org/">Rails Tutorial</li>
    </ul>
  </nav>
</footer>